## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [2]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [3]:
# 1) Seu código aqui
df_com = pd.concat([df_mat['Qt_acertos'], df_por['Qt_acertos'], df_geo['Qt_acertos'], df_ing['Qt_acertos'], df_his['Qt_acertos'], df_fis['Qt_acertos'], df_qui['Qt_acertos']], axis=1)
df_com.columns = ['mat', 'por', 'geo', 'ing', 'his', 'fis', 'qui']
print(df_com)
total_questoes = {
    'Matemática' : 24,
    'Português' : 18,
    'Geografia' : 8,
    'Inglês' : 8,
    'História' : 8,
    'Física' : 12,
    'Química' : 12
}
df_mat['Porcentagem'] = df_mat['Qt_acertos'] / total_questoes['Matemática'] * 100
df_por['Porcentagem'] = df_por['Qt_acertos'] / total_questoes['Português'] * 100
df_geo['Porecentagem'] = df_geo['Qt_acertos'] / total_questoes['Geografia'] * 100
df_ing['Porcentagem'] = df_ing['Qt_acertos'] / total_questoes['Inglês'] * 100
df_his['Porcentagem'] = df_his['Qt_acertos'] / total_questoes['História'] * 100
df_fis['Porcentagem'] = df_fis['Qt_acertos'] / total_questoes['Física'] * 100
df_qui['Porcentagem'] = df_qui['Qt_acertos'] / total_questoes['Química'] * 100
print(df_mat, df_por, df_geo, df_ing, df_his, df_fis, df_qui)
#df_comp = pd.concat([df_mat['Porcentagem'], df_por['Porcentagem'], df_geo['Porcentagem'], df_ing['Porcentagem'], df_his['Porcentagem'], df_fis['Porcentagem'], df_qui['Porcentagem']], axis=1)

    mat  por  geo  ing  his  fis  qui
0     6    7    7    3    1    8    3
1    19   10    0    0    0   11    8
2    14   16    0    5    7    4    4
3    10    7    3    4    0    0    8
4     7    2    2    7    0    9    3
..  ...  ...  ...  ...  ...  ...  ...
95    6    4    7    1    4    9    3
96    8    1    4    6    1    4    3
97   23    5    0    2    4    1    5
98    0   10    3    1    5   10   11
99   11   15    0    1    6    7    2

[100 rows x 7 columns]
    Qt_acertos  Porcentagem
0            6    25.000000
1           19    79.166667
2           14    58.333333
3           10    41.666667
4            7    29.166667
..         ...          ...
95           6    25.000000
96           8    33.333333
97          23    95.833333
98           0     0.000000
99          11    45.833333

[100 rows x 2 columns]     Qt_acertos  Porcentagem
0            7    38.888889
1           10    55.555556
2           16    88.888889
3            7    38.888889
4            2    11.111111
..         ...          ...
95           4    22.222222
96           1     5.555556
97           5    27.777778
98          10    55.555556
99          15    83.333333

[100 rows x 2 columns]     Qt_acertos  Porecentagem
0            7          87.5
1            0           0.0
2            0           0.0
3            3          37.5
4            2          25.0
..         ...           ...
95           7          87.5
96           4          50.0
97           0           0.0
98           3          37.5
99           0           0.0

[100 rows x 2 columns]     Qt_acertos  Porcentagem
0            3         37.5
1            0          0.0
2            5         62.5
3            4         50.0
4            7         87.5
..         ...          ...
95           1         12.5
96           6         75.0
97           2         25.0
98           1         12.5
99           1         12.5

[100 rows x 2 columns]     Qt_acertos  Porcentagem
0            1         12.5
1            0          0.0
2            7         87.5
3            0          0.0
4            0          0.0
..         ...          ...
95           4         50.0
96           1         12.5
97           4         50.0
98           5         62.5
99           6         75.0

[100 rows x 2 columns]     Qt_acertos  Porcentagem
0            8    66.666667
1           11    91.666667
2            4    33.333333
3            0     0.000000
4            9    75.000000
..         ...          ...
95           9    75.000000
96           4    33.333333
97           1     8.333333
98          10    83.333333
99           7    58.333333

[100 rows x 2 columns]     Qt_acertos  Porcentagem
0            3    25.000000
1            8    66.666667
2            4    33.333333
3            8    66.666667
4            3    25.000000
..         ...          ...
95           3    25.000000
96           3    25.000000
97           5    41.666667
98          11    91.666667
99           2    16.666667

[100 rows x 2 columns]

In [4]:
# 2) Seu código aqui
df_com['Total'] = df_com.sum(axis=1)
df_com

    mat  por  geo  ing  his  fis  qui  Total
0     6    7    7    3    1    8    3     35
1    19   10    0    0    0   11    8     48
2    14   16    0    5    7    4    4     50
3    10    7    3    4    0    0    8     32
4     7    2    2    7    0    9    3     30
..  ...  ...  ...  ...  ...  ...  ...    ...
95    6    4    7    1    4    9    3     34
96    8    1    4    6    1    4    3     27
97   23    5    0    2    4    1    5     40
98    0   10    3    1    5   10   11     40
99   11   15    0    1    6    7    2     42

[100 rows x 8 columns]

In [5]:
# 3) Seu código aqui
todas_questoes = sum(total_questoes.values())
df_com['porcentagem'] = df_com['Total'] / todas_questoes * 100
df_com

    mat  por  geo  ing  his  fis  qui  Total  porcentagem
0     6    7    7    3    1    8    3     35    38.888889
1    19   10    0    0    0   11    8     48    53.333333
2    14   16    0    5    7    4    4     50    55.555556
3    10    7    3    4    0    0    8     32    35.555556
4     7    2    2    7    0    9    3     30    33.333333
..  ...  ...  ...  ...  ...  ...  ...    ...          ...
95    6    4    7    1    4    9    3     34    37.777778
96    8    1    4    6    1    4    3     27    30.000000
97   23    5    0    2    4    1    5     40    44.444444
98    0   10    3    1    5   10   11     40    44.444444
99   11   15    0    1    6    7    2     42    46.666667

[100 rows x 9 columns]

In [6]:
# 4) Seu código aqui
a_aprovados = df_com[df_com['Total'] > 45].shape[0]

print(f'A quantidade de alunos aprovados é de {a_aprovados}')

A quantidade de alunos aprovados é de 31

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [8]:
# seu código aqui
df_desq = df_com[(df_com['mat'] == 0) | (df_com['fis'] == 0) | (df_com['qui'] == 0)]
qtd_des = df_desq.shape[0]
qtd_des
ind = df_desq.index
for i in ind:
    df_hg = df_desq[['his' , 'geo']]
df_hg
df_apr = df_com[['Total']]
df_qua = df_com[(df_com['Total'] > 45) & (df_com.index.isin(df_desq.index))]
df_qua

    mat  por  geo  ing  his  fis  qui  Total  porcentagem
20   23   11    6    5    6    2    0     53    58.888889
27   21   13    1    5    7    3    0     50    55.555556
35   11   14    6    3    3    0   11     48    53.333333
72   11   16    3    4    7    0    9     50    55.555556
89   23   11    7    7    6    9    0     63    70.000000

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [10]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-156f7b66-78b2-4570-8c49-698fd9b88a87.c000.csv'

In [11]:
df_vac = pd.read_csv(arquivo, sep=';')

In [12]:
# 1) Sua solução aqui
vac_re = df_vac.shape[0]
print(f'A quantidade de vacinas registradas é de {vac_re}')

A quantidade de vacinas registradas é de 390911

In [13]:
# 2)
pac_uni = df_vac['paciente_id'].nunique()
print(f'Pacientes que foram vacinados : {pac_uni} ')

Pacientes que foram vacinados : 318850

In [14]:
# 3)
df_dos = df_vac[df_vac['vacina_descricao_dose'].str.contains('1ª Dose', na=False)]
pac_dos = df_dos['paciente_id'].nunique()
print(f"Pacientes que tomaram a primeira dose foram {pac_dos}")

Pacientes que tomaram a primeira dose foram 144276

In [15]:
# 3) solução alternativa
df_pcd = df_vac.sort_values(by=['paciente_id', 'vacina_dataAplicacao'])

primeira_dose = df_vac.drop_duplicates(subset=['paciente_id'], keep='first')
pacientes_primeira_dose = primeira_dose['paciente_id'].nunique()
print(f"Pacientes únicos que tomaram a primeira dose: {pacientes_primeira_dose}")

Pacientes únicos que tomaram a primeira dose: 318850

In [16]:
# 4)
m18 = df_vac[df_vac["paciente_idade"] < 18 ]
nm18 = m18["paciente_id"].nunique()
print(f"Pacientes que tomaram a vacina sendo menores de 18 anos {nm18}")

Pacientes que tomaram a vacina sendo menores de 18 anos 69726

In [17]:
# 5)
t_e = df_vac["paciente_endereco_coIbgeMunicipio"].nunique()
print(f"Total de eestabelecimentos {t_e}")

Total de eestabelecimentos 1556

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [19]:
# 1)
m182 = df_vac[df_vac['paciente_idade'] < 18 ]
m182

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
8,3274f24d-1591-4140-a8fa-190936d23a9b-i0b0,0632f0ea66d18401d3a4c7d82a91173178ab5a2730ce6a...,11,2011-06-26,F,3,PARDA,120020.0,10.0,CRUZEIRO DO SUL,...,NaN,NaN,210520,SINOVAC/BUTANTAN,29501,2022-08-24,1ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
12,ea9e2f3d-e19c-4d77-b7ef-7b0fbe361729-i0b0,28846f11a1561850581aa34a0587e14a355445324f4de4...,10,2011-08-14,M,3,PARDA,120030.0,10.0,FEIJO,...,NaN,NaN,FN5988,PFIZER - PEDI?TRICA,28290,2022-03-17,1ª Dose,99,COVID-19 PEDIÁTRICA - PFIZER COMIRNATY,Novo PNI
19,ddbe8e75-ac1e-40b7-ad55-ead506189efd-i0b0,4a502fc943b8e62deca3f6cd1be3885f7b0d8a2ed88796...,14,2007-03-13,F,3,PARDA,120010.0,10.0,BRASILEIA,...,2.0,Faixa Etária,FF5107,PFIZER,Organization/00394544000851,2021-09-30,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
22,0861e97d-5346-4902-afe1-f8fbcc7a96b1-i0b0,9370ab739b993ee43c3d3eceb135aa5e31b0b74f44ea54...,5,2019-03-13,F,3,PARDA,120050.0,10.0,SENA MADUREIRA,...,NaN,NaN,230120700,BUTANTAN,NaN,2024-03-21,Única,33,INF3,ESUS APS - NACIONAL (OFFLINE)
36,0e034f62-83b9-4dea-ac5e-e3da277e49e4-i0b0,6deddf138a8750e47363a1dd3afe10b149b85a834218a9...,15,2005-12-21,M,3,PARDA,120020.0,10.0,CRUZEIRO DO SUL,...,114.0,Outros,FA9096,PFIZER,Organization/00394544000851,2021-08-04,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390888,c67be324-62ec-4c56-a24d-bf52cecd8bc5-i0b0,ade63d0c13a4bbe9b1c717a463d6116f2912cb27151d30...,4,2019-08-03,F,3,PARDA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,230165,BUTANTAN,152,2024-01-25,Única,33,INF3,Novo PNI
390897,c76240fc-b5c7-42fe-b197-5834997c5fe8-i0b0,3b0305b831b9d267ddfd5d691bf60cb69314d5d0780219...,10,2011-12-14,M,3,PARDA,120020.0,10.0,CRUZEIRO DO SUL,...,NaN,NaN,210342,SINOVAC/BUTANTAN,Organization/152,2022-02-03,1ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
390902,c792701d-7d82-4f07-a441-b04b8d77fc73-i0b0,7d1e0926e87b64ba4e8b087d7ece2d5ffc983c1e1acdd8...,1,2023-03-11,F,3,PARDA,120030.0,10.0,FEIJO,...,2.0,Faixa Etária,gy0352,PFIZER - PEDIÁTRICA MENOR DE 5 ANOS,NaN,2024-03-18,2ª Dose,102,COVID-19 PFIZER - COMIRNATY PEDIÁTRICA MENOR D...,ESUS APS - NACIONAL (OFFLINE)
390904,c7a24335-f5de-49dd-836e-3667f8d4bbfa-i0b0,39f7f986d0e385c60cbf30bcbb2091a93112f6d1be1715...,10,2011-09-29,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,NaN,NaN,210390A,SINOVAC/BUTANTAN,Organization/152,2022-03-05,1ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
390910,c85b7508-d64e-454c-a543-10cdc30c1f8c-i0b0,e68cebd33b33b1012e025c7ade0d03dbac8b44b588c48b...,10,2013-03-26,F,5,INDIGENA,120043.0,10.0,SANTA ROSA DO PURUS,...,7.0,Povos Indígenas,230147,BUTANTAN,152,2023-11-23,Única,33,INF3,Novo PNI

In [20]:
# 2)
m182c = m182.columns.tolist()
m182c

['document_id',
 'paciente_id',
 'paciente_idade',
 'paciente_dataNascimento',
 'paciente_enumSexoBiologico',
 'paciente_racaCor_codigo',
 'paciente_racaCor_valor',
 'paciente_endereco_coIbgeMunicipio',
 'paciente_endereco_coPais',
 'paciente_endereco_nmMunicipio',
 'paciente_endereco_nmPais',
 'paciente_endereco_uf',
 'paciente_endereco_cep',
 'paciente_nacionalidade_enumNacionalidade',
 'estabelecimento_valor',
 'estabelecimento_razaoSocial',
 'estalecimento_noFantasia',
 'estabelecimento_municipio_codigo',
 'estabelecimento_municipio_nome',
 'estabelecimento_uf',
 'vacina_grupoAtendimento_codigo',
 'vacina_grupoAtendimento_nome',
 'vacina_categoria_codigo',
 'vacina_categoria_nome',
 'vacina_lote',
 'vacina_fabricante_nome',
 'vacina_fabricante_referencia',
 'vacina_dataAplicacao',
 'vacina_descricao_dose',
 'vacina_codigo',
 'vacina_nome',
 'sistema_origem']

In [21]:
# 3)
contagem_categorias = m182[ 'vacina_categoria_nome' ].value_counts()
contagem_categorias

vacina_categoria_nome
Faixa Etária                                      49015
Povos Indígenas                                    4934
Outros                                             3755
Povos e Comunidades Tradicionais                    875
Trabalhadores de Saúde                              264
Comorbidades                                         58
População Privada de Liberdade                       53
Gestantes                                            47
Trabalhadores da Educação                            14
Trabalhadores de Transporte                          13
Pessoas com Deficiência                              11
Pessoas Institucionalizadas                           3
Pessoas de 60 anos ou mais institucionalizadas        1
Puérperas                                             1
Name: count, dtype: int64

In [22]:
# 4)
colunas_estabelecimento = [col for col in m182c if col.startswith('estabelecimento_')]
print("\nColunas referentes ao estabelecimento:")
print(colunas_estabelecimento)

Colunas referentes ao estabelecimento:
['estabelecimento_valor', 'estabelecimento_razaoSocial', 'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome', 'estabelecimento_uf']

In [23]:
# 5)
df_estabelecimentos = m182.loc[:, colunas_estabelecimento]

In [24]:
# 6)
df_estabelecimentos_unicos = df_estabelecimentos.drop_duplicates().reset_index(drop=True)
print("\nDataFrame com estabelecimentos únicos:")
print(df_estabelecimentos_unicos)

DataFrame com estabelecimentos únicos:
     estabelecimento_valor                 estabelecimento_razaoSocial  \
0                  7247435               PREFEITURA MUNICIPAL DE SAUDE
1                   924490               PREFEITURA MUNICIPAL DE FEIJO
2                  2001349           PREFEITURA MUNICIPAL DE BRASILEIA
3                  5981891     PREFEITURA MUNICIIPAL DE SENA MADUREIRA
4                  3959082               SECRETARIA DE ESTADO DE SAUDE
..                     ...                                         ...
200                2001357  SECRETARIA MUNICIPAL DE SAUDE DE BRASILEIA
201                4646770                           USF SAO FRANCISCO
202                6411312   PREFEITURA MUNICIPAL DE PLACIDO DE CASTRO
203                2000814       SECRETARIA DE ESTADO DE SAUDE DO ACRE
204                2832798      PREFEITURA MUNICIPAL DE EPITACIOLANDIA

     estabelecimento_municipio_codigo estabelecimento_municipio_nome  \
0                              120020                CRUZEIRO DO SUL
1                              120030                          FEIJO
2                              120010                      BRASILEIA
3                              120050                 SENA MADUREIRA
4                              120020                CRUZEIRO DO SUL
..                                ...                            ...
200                            120010                      BRASILEIA
201                            120040                     RIO BRANCO
202                            120038              PLACIDO DE CASTRO
203                            120040                     RIO BRANCO
204                            120025                 EPITACIOLANDIA

    estabelecimento_uf
0                   AC
1                   AC
2                   AC
3                   AC
4                   AC
..                 ...
200                 AC
201                 AC
202                 AC
203                 AC
204                 AC

[205 rows x 5 columns]