# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui
anos = [ 1900, 1920, 1940, 1960, 1980, 2000, 2020 ]
termica = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

#### 2) Coloque os anos nos índices conforme a tabela.

In [9]:
anomalias_ter = pd.Series(termica, anos)
# seu código aqui
anomalias_ter

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [17]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

serie_dic = pd.Series(dic_temperaturas)
serie_dic

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [19]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

df = pd.DataFrame(arr)

df

             0           1           2
0    96.516278   91.269368  105.325249
1    99.632041   74.815438  107.915151
2   105.141197   97.769889  110.865306
3   100.510614  117.113213   96.134755
4    83.486572  122.757471   91.185899
5    82.225281  101.879840   84.957188
6   114.979071   97.185006  106.882372
7    94.299237   84.388541   98.297252
8   114.272336  109.845420   99.512016
9    98.366870  102.399359   82.547805
10  108.836149   99.520987  115.953084
11   93.848405  103.713854   88.977478
12  101.196177  117.589618  103.565594
13   96.617556  102.286884  107.841472
14   89.580696  101.947484   97.342155
15   98.512915   79.605170  102.956908
16   99.811420   96.076297  100.914731
17  101.985617   87.105244   97.237485
18  109.590671   87.099503   80.649640
19  113.013824   83.464685   85.572539

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [31]:
#seu código aqui
dd = pd.DataFrame(arr, columns = ['x1', 'x2', 'x3'])
dd

            x1          x2          x3
0    96.516278   91.269368  105.325249
1    99.632041   74.815438  107.915151
2   105.141197   97.769889  110.865306
3   100.510614  117.113213   96.134755
4    83.486572  122.757471   91.185899
5    82.225281  101.879840   84.957188
6   114.979071   97.185006  106.882372
7    94.299237   84.388541   98.297252
8   114.272336  109.845420   99.512016
9    98.366870  102.399359   82.547805
10  108.836149   99.520987  115.953084
11   93.848405  103.713854   88.977478
12  101.196177  117.589618  103.565594
13   96.617556  102.286884  107.841472
14   89.580696  101.947484   97.342155
15   98.512915   79.605170  102.956908
16   99.811420   96.076297  100.914731
17  101.985617   87.105244   97.237485
18  109.590671   87.099503   80.649640
19  113.013824   83.464685   85.572539

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [41]:
# seu código aqui
dd['media'] = dd[['x1', 'x2', 'x3']].mean(axis=1)
dd

            x1          x2          x3       media
0    96.516278   91.269368  105.325249   97.703632
1    99.632041   74.815438  107.915151   94.120876
2   105.141197   97.769889  110.865306  104.592131
3   100.510614  117.113213   96.134755  104.586194
4    83.486572  122.757471   91.185899   99.143314
5    82.225281  101.879840   84.957188   89.687436
6   114.979071   97.185006  106.882372  106.348817
7    94.299237   84.388541   98.297252   92.328343
8   114.272336  109.845420   99.512016  107.876591
9    98.366870  102.399359   82.547805   94.438011
10  108.836149   99.520987  115.953084  108.103407
11   93.848405  103.713854   88.977478   95.513246
12  101.196177  117.589618  103.565594  107.450463
13   96.617556  102.286884  107.841472  102.248638
14   89.580696  101.947484   97.342155   96.290111
15   98.512915   79.605170  102.956908   93.691664
16   99.811420   96.076297  100.914731   98.934149
17  101.985617   87.105244   97.237485   95.442782
18  109.590671   87.099503   80.649640   92.446605
19  113.013824   83.464685   85.572539   94.017016

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [47]:
# seu código aqui
media = dd['media'].mean()
dd['log_med'] = np.log(media)
dd

            x1          x2          x3       media   log_med
0    96.516278   91.269368  105.325249   97.703632  4.592573
1    99.632041   74.815438  107.915151   94.120876  4.592573
2   105.141197   97.769889  110.865306  104.592131  4.592573
3   100.510614  117.113213   96.134755  104.586194  4.592573
4    83.486572  122.757471   91.185899   99.143314  4.592573
5    82.225281  101.879840   84.957188   89.687436  4.592573
6   114.979071   97.185006  106.882372  106.348817  4.592573
7    94.299237   84.388541   98.297252   92.328343  4.592573
8   114.272336  109.845420   99.512016  107.876591  4.592573
9    98.366870  102.399359   82.547805   94.438011  4.592573
10  108.836149   99.520987  115.953084  108.103407  4.592573
11   93.848405  103.713854   88.977478   95.513246  4.592573
12  101.196177  117.589618  103.565594  107.450463  4.592573
13   96.617556  102.286884  107.841472  102.248638  4.592573
14   89.580696  101.947484   97.342155   96.290111  4.592573
15   98.512915   79.605170  102.956908   93.691664  4.592573
16   99.811420   96.076297  100.914731   98.934149  4.592573
17  101.985617   87.105244   97.237485   95.442782  4.592573
18  109.590671   87.099503   80.649640   92.446605  4.592573
19  113.013824   83.464685   85.572539   94.017016  4.592573