## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [18]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [50]:
# 1) Seu código aqui
df_com = pd.concat([df_mat['Qt_acertos'], df_por['Qt_acertos'], df_geo['Qt_acertos'], df_ing['Qt_acertos'], df_his['Qt_acertos'], df_fis['Qt_acertos'], df_qui['Qt_acertos']], axis=1)
df_com.columns = ['mat', 'por', 'geo', 'ing', 'his', 'fis', 'qui']
print(df_com)
total_questoes = {
    'Matemática' : 24,
    'Português' : 18,
    'Geografia' : 8,
    'Inglês' : 8,
    'História' : 8,
    'Física' : 12,
    'Química' : 12
}
df_mat['Porcentagem'] = df_mat['Qt_acertos'] / total_questoes['Matemática'] * 100
df_por['Porcentagem'] = df_por['Qt_acertos'] / total_questoes['Português'] * 100
df_geo['Porecentagem'] = df_geo['Qt_acertos'] / total_questoes['Geografia'] * 100
df_ing['Porcentagem'] = df_ing['Qt_acertos'] / total_questoes['Inglês'] * 100
df_his['Porcentagem'] = df_his['Qt_acertos'] / total_questoes['História'] * 100
df_fis['Porcentagem'] = df_fis['Qt_acertos'] / total_questoes['Física'] * 100
df_qui['Porcentagem'] = df_qui['Qt_acertos'] / total_questoes['Química'] * 100
print(df_mat, df_por, df_geo, df_ing, df_his, df_fis, df_qui)
#df_comp = pd.concat([df_mat['Porcentagem'], df_por['Porcentagem'], df_geo['Porcentagem'], df_ing['Porcentagem'], df_his['Porcentagem'], df_fis['Porcentagem'], df_qui['Porcentagem']], axis=1)

    mat  por  geo  ing  his  fis  qui
0     6    7    7    3    1    8    3
1    19   10    0    0    0   11    8
2    14   16    0    5    7    4    4
3    10    7    3    4    0    0    8
4     7    2    2    7    0    9    3
..  ...  ...  ...  ...  ...  ...  ...
95    6    4    7    1    4    9    3
96    8    1    4    6    1    4    3
97   23    5    0    2    4    1    5
98    0   10    3    1    5   10   11
99   11   15    0    1    6    7    2

[100 rows x 7 columns]
    Qt_acertos  Porcentagem
0            6    25.000000
1           19    79.166667
2           14    58.333333
3           10    41.666667
4            7    29.166667
..         ...          ...
95           6    25.000000
96           8    33.333333
97          23    95.833333
98           0     0.000000
99          11    45.833333

[100 rows x 2 columns]     Qt_acertos  Porcentagem
0            7    38.888889
1           10    55.555556
2           16    88.888889
3            7    38.888889
4            2    11.111111
..         ...          ...
95           4    22.222222
96           1     5.555556
97           5    27.777778
98          10    55.555556
99          15    83.333333

[100 rows x 2 columns]     Qt_acertos  Porecentagem
0            7          87.5
1            0           0.0
2            0           0.0
3            3          37.5
4            2          25.0
..         ...           ...
95           7          87.5
96           4          50.0
97           0           0.0
98           3          37.5
99           0           0.0

[100 rows x 2 columns]     Qt_acertos  Porcentagem
0            3         37.5
1            0          0.0
2            5         62.5
3            4         50.0
4            7         87.5
..         ...          ...
95           1         12.5
96           6         75.0
97           2         25.0
98           1         12.5
99           1         12.5

[100 rows x 2 columns]     Qt_acertos  Porcentagem
0            1         12.5
1            0          0.0
2            7         87.5
3            0          0.0
4            0          0.0
..         ...          ...
95           4         50.0
96           1         12.5
97           4         50.0
98           5         62.5
99           6         75.0

[100 rows x 2 columns]     Qt_acertos  Porcentagem
0            8    66.666667
1           11    91.666667
2            4    33.333333
3            0     0.000000
4            9    75.000000
..         ...          ...
95           9    75.000000
96           4    33.333333
97           1     8.333333
98          10    83.333333
99           7    58.333333

[100 rows x 2 columns]     Qt_acertos  Porcentagem
0            3    25.000000
1            8    66.666667
2            4    33.333333
3            8    66.666667
4            3    25.000000
..         ...          ...
95           3    25.000000
96           3    25.000000
97           5    41.666667
98          11    91.666667
99           2    16.666667

[100 rows x 2 columns]

In [52]:
# 2) Seu código aqui
df_com['Total'] = df_com.sum(axis=1)
df_com

    mat  por  geo  ing  his  fis  qui  Total
0     6    7    7    3    1    8    3     35
1    19   10    0    0    0   11    8     48
2    14   16    0    5    7    4    4     50
3    10    7    3    4    0    0    8     32
4     7    2    2    7    0    9    3     30
..  ...  ...  ...  ...  ...  ...  ...    ...
95    6    4    7    1    4    9    3     34
96    8    1    4    6    1    4    3     27
97   23    5    0    2    4    1    5     40
98    0   10    3    1    5   10   11     40
99   11   15    0    1    6    7    2     42

[100 rows x 8 columns]

In [54]:
# 3) Seu código aqui
todas_questoes = sum(total_questoes.values())
df_com['porcentagem'] = df_com['Total'] / todas_questoes * 100
df_com

    mat  por  geo  ing  his  fis  qui  Total  porcentagem
0     6    7    7    3    1    8    3     35    38.888889
1    19   10    0    0    0   11    8     48    53.333333
2    14   16    0    5    7    4    4     50    55.555556
3    10    7    3    4    0    0    8     32    35.555556
4     7    2    2    7    0    9    3     30    33.333333
..  ...  ...  ...  ...  ...  ...  ...    ...          ...
95    6    4    7    1    4    9    3     34    37.777778
96    8    1    4    6    1    4    3     27    30.000000
97   23    5    0    2    4    1    5     40    44.444444
98    0   10    3    1    5   10   11     40    44.444444
99   11   15    0    1    6    7    2     42    46.666667

[100 rows x 9 columns]

In [58]:
# 4) Seu código aqui
a_aprovados = df_com[df_com['Total'] > 45].shape[0]

print(f'A quantidade de alunos aprovados é de {a_aprovados}')

A quantidade de alunos aprovados é de 31

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [114]:
# seu código aqui
df_des = pd.concat([df_mat[df_mat['Qt_acertos'] == 0], df_fis[df_fis['Qt_acertos'] == 0], df_qui[df_qui['Qt_acertos'] == 0]], axis=1)
df_des.columns = ('mat', 'mat', 'fis', 'fis', 'qui', 'qui')
df_des
qtd_des = df_des.shape[0]
qtd_des
ind = df_des.index
#for i in ind:
    #df_hg = df_com['his'].iloc[i, 0]

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [10]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-5ed92752-6121-474f-ab37-816918134afc.c000.csv'

In [11]:
# 1) Sua solução aqui

In [12]:
# 2)

In [13]:
# 3)

In [14]:
# 3) solução alternativa

In [15]:
# 4)

In [16]:
# 5)

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [18]:
# 1)

In [19]:
# 2)

In [20]:
# 3)

In [21]:
# 4)

In [22]:
# 5)